/**
 * Place your custom styles here.
 */

.item-wrapper{
    width: 300px;
    height: 300px;
margin-bottom: 30px;

}
.item-wrapper .html-item{
    overflow: hidden;
    width: 300px;
    height: 220px;
    border: 1px solid #c0c0c0;
    text-align: center;
}
.item-wrapper .html-item #wrapper{
    height: 200px;
    width: 100%;
}
/*.action-title{*/
    /*position: relative;*/
    /*left: 0;*/
    /*top: 210px;*/
/*}*/
.title-template{
    font-size: 14px;
    font-weight: bold;
    color: #4E5D6C;
}
.action-title .btn-group-lg>.btn, .btn-lg {
    font-size: 11px!important;
}
nav.navbar-default .navbar-nav>li>a {
    color: #777!important;
    font-size: 14px!important;
    text-transform: inherit!important;
}
.btn-lg, .btn-group-lg>.btn {
    padding: 9px 10px 7px!important;
    line-height: 15px;
}